:root {
    --cyan: #57A8A8;
    --silver: #C0C7C8;
    --gray: #87888F;
}

#body {
    margin: 0;
    padding: 0;
    background-color: var(--cyan);
}

#boot {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

main {
    height: calc(100vh - 28px);
}

#taskbar {
    height: 27px;
    width: 100%;
    bottom: 0;
    border-top: solid 1px var(--silver);
    box-shadow: inset 0 1px white;
    background-color: var(--silver);
    position: absolute;
    z-index: -1;
}

#start {
    width: 200px;
    height: 20px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset -1px -1px var(--gray);
}
